bady{
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans","sans-serif";
}
*:focus{
  outline: 2PX dotted #1120e6;
  outline-offset: 3px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:focus{
  opacity: 0.6;
}
.site-header{
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 1440px;
  height: 97.94px;
  background-color: #E5E5E5;
}
.img {
  left: 200px;
}
.ansormed-nav {
  display: flex;
  align-items: center;
  padding: none;
}
.link-nab {
  display: flex;

}

.link-ul {
  display: flex;
}
.sitenav-link{
  display: flex;
  justify-content: space-around;
  width: 112px;
  Line-height: 150%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  transition: color 0.4s ease opacity 0.6;
}
.sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}
.ansor{
  font-family:"Open Sans","sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  text-transform:none;
  padding-left: 30px;
}

/* main */


.main-link{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 12px,24px;
  border-radius: 2px;
  width: 189px;
  color: #FFFFFF;
  background-color: #DE2E54;
  font-family: "Open Sans Condensed","sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  text-decoration: none;
  border-radius: 8px;
  transition: opacity 0.4s ease;

}
.main-link:hover{
  color: #DE2E54;
  background-color:  #fff;
  border: 2px solid #DE2E54;
  box-sizing: border-box;
  border-radius: 8px;
}
.seaction-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 533px;
  background-color: #0EB4C1;
  color:#FFFFFF ;

}
.hero{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top:120px ;
  padding-bottom: 132px;
}
.hero-heading{
  width: 500px;
  font-size: 36px;
  font-family: "Open Sans Condensed","sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}

.hero-text{
  width: 440px;
  font-size: 18px;
  font-family: "Open Sans","sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.hero-img{
  width: 423px;
  height: 504px;

}
.imgs{
  width: 200px;
 height: 200px;
}

/* features */
/* .features{
  padding-top: 120px;
  padding-bottom: 132px; */
  /* .features-div{
    width: 864px;
    height: 1040px;
  } */
  .features-seaction{
    width: 1200px;
    height: 1040px;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  .services {

    padding-left: 653px;
    padding-top: 120px; ;
  }


  .features-heading{
    color: black;
    width: 133px;
    font-size: 36px;
    font-family: "Open Sans Condensed","sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;

  }
  .features-ul {
    display: flex;
    flex-direction: column;
  }
  .features img{
    color: rgba(0, 107, 116, 0.3);
    width: 200px;
    height: 200px;
    border-radius: 24px;
  }
  .feature{
    display: flex;

    width: 600px;
    font-size: 16px;
    line-height: 150%;
  }
  .feature-title{
    color: #222222;
    font-family: "Open Sans Condensed","sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    line-height: 120%;
  }
  .feature-info{
    color: #444444;
    width: 600px;
    font-family: "Open Sans","sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  .promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #0EB4C1;
    width: 1440px;
    height: 253px;
  }
  .promo-li {
    display: flex;
  }
  .promo-heading{
    color: #FFFFFF;
    width: 365px;
    height: 43px;
    font-family: "Open Sans Condensed","sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
  }
  .promo-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    color: #FFFFFF;
    width: 166px;
    height: 18px;
    font-family: "Open Sans Condensed","sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    border: 2px solid #fff;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .promo-title:hover {
    background: #DE2E54;
    border: 2px solid #DE2E54;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .footer{
    width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #fff;
  }
  .footer a {
    color:#fff;
  }
  .footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;

  }
